@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --brand-600: #4F772D;
  --brand-700: #31572C;
  --brand-400: #90A955;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-400: var(--brand-400);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
